// Variables
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$breakPoint:(
    phone: 377px,
    tablet: 1024px,
    desktop: 1200px,
    desktop-land: 1400px
);


// fonts
$logTitre-font: 'Shrikhand', sans-serif;
$text-font: 'Roboto';

// Unité par defaut
$defaultUnit: "px";

