/* Importation de fichiers Utiles */
@import "normalize";
@import "mixin";
@import "variable";
@import "function";

/* importation de la typographie */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');

body{
   font-family: $text-font;
}
/* Réglage de loader */
.loader{
    position: fixed;
    inset: 0;
    background-image:linear-gradient(135deg, #F5F7FA 50%, #C3CFE2 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    animation: loader-p 5s;
    visibility: hidden;
}

/* Animation loader-p */
@keyframes loader-p {
    0%{
        opacity: 1;
        visibility: visible;
    }
    50%{
        opacity: 0.9;
        visibility: visible;
    }
    100%{
        opacity: 0;
       
    }
} 
.loader > span{
    background-color: purple;
    display: inline-block;
    margin: 0 8px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    animation: bouce .6s infinite alternate;
}
.loader > span:nth-child(2){
    background-color: palevioletred;
    animation-delay: .2s;
}
.loader > span:nth-child(3){
    animation-delay: .4s;
}
/* Animation bouce*/
@keyframes bouce {
    to{
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}

/* Header */
.head{
    width: 100%;
    &__title{
        text-align: center;
        box-shadow: 1px 1px 5px rgba(#000, 1);
        font-family: 'Shrikhand', sans-serif;
        font-size: 2rem;
        margin: 0;
        padding: 15px;
    }
    &__localisation{
        background-color: #c9c7c750;
        font-size: 1.2rem;
        height: 50px;
        @include flexCenter(row);
    }
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    margin-right:22px ;
}
.head-text{
    font-weight: 700;
}

// reglage du main
.main-bloc{
    padding: 2.5rem;
    background-color: #fafafaea;
    font-size: 1rem;
    text-align: center;
    &__title{
        font-weight: bold;
        font-size: 1.7rem;
    }
    &__paragraph{
        opacity: .5;
    }
}

// reglage du bouton

.search{
    border: none;
    margin: 20px;
  &__btn{
    background-image: linear-gradient(to top, $primary-color, $secondary-color);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.57);
    border: none;
    height: 60px;
    border-radius: unitize(30);
    color: #FFF;
    padding: 0 20px;
    font-size: 1.2rem;
    transition: 1.5s;
    &:hover{
        opacity: 0.9;
        transform: scale(1.05);
    }
  }
}

// Reglage des filtres
.filtres{
    display: block;
    margin-left: 0.8rem;
    margin-bottom: 3.6rem;
    margin: 0 3rem 3.6rem 3rem;
    &__title{
        margin-bottom: 0;
    }
    &__lists{
        counter-reset: step;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        @media (max-width:953px){
            flex-direction: column;
        }
    }
    &__list{
        position: relative;
        list-style: none;
        padding: 1.5rem;
        margin: unitize(1rem 1rem 0 0.75rem);
        box-shadow: unitize(0.25rem 0.25rem 0.5rem) rgb(0 0 0 / 13%);
        border-radius: unitize(1.25rem);
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-grow: 1;
        background: #F6F6F6;
        transition: .5s;
    }
    &__icone{
        color: #7e7e7e;
    }
    &__list::before{
        counter-increment: step;
        content: counter(step);
        height: unitize(1.5rem);
        width: unitize(1.5rem);
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        border-radius: unitize(100);
        position: absolute;
        left: unitize(-0.75rem);
    }
    // hover sur les filtres
    &__list:hover{
        background-color:#F5EDFF;
        cursor: pointer; 
    }
    
    &__list:nth-child(3){
        background-color:#F5EDFF;
        cursor: pointer; 
    }
}
.filtres__list:hover .filtres__icone{
    color: $primary-color;
}
.fa-store{
    color: $primary-color;
}

//***************   modification du contenu container    ******************

.container{
    padding: 2rem 5rem;
    @media (max-width:953px){
        padding: 2rem 1rem;
    }
    @media (max-width:886px){
        padding: 2rem 1rem;
    }
    
}




// restaurants

.restaurants{
    background-color: #F6F6F6;
    padding: unitize(2rem 1rem);
    @media (max-width:886px){
        margin: 0;
    }
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @media (max-width:750px){
        grid-template-columns: 1fr;
    }
}
.card{
    background-color: #FFF;
    border-radius: 1rem;
    padding-bottom: 1rem;
    a:visited{
        color: #000;
    }
    a:active{
        color: blue;
    }
    &__img-1{
        background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center center / 100% no-repeat ;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat; 
        height: 12rem;
        border-radius: 1rem 1rem 0 0;
        position: relative;
    };
    &__new{
        margin: 0;
        position: absolute;
        right: 0;
        background-color: #99E2D0;
        margin: 0.8rem 0.5rem 0 0;
        padding:0.5rem 1rem ;
        border-radius: .2rem;
        text-decoration: none;
    }

    &__img-2{
        @extend .card__img-1;
        background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        display: block;
    }
    
    &__img-3{
        @extend .card__img-1;
        background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }
    &__img-4{
        @extend .card__img-1;
        background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }
    &__art{
        position: relative;
    }
    &__lien{
        margin-left: 1rem;
        text-decoration: none;
    }
}

// article
.article{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.heart{
    cursor: pointer;
    margin-right: 1rem;

    .far{
        position: relative;
        font-size: 1.5rem;
    }
    .fas{
        font-size: 1.5rem;
        position: absolute;
        background-image: linear-gradient(to left, $primary-color, $secondary-color );
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: 0.5s;
      
    }
}
.heart:hover .fas{
    opacity: 1;
}

.marg-rest{
    margin:unitize( 1rem 0 0.4rem 1rem);
}

//Footer

.footer{
    background: #353535;
    padding: 2rem;
    &__lists{
        padding-left: 0;
    }
    &__list{
        list-style: none;
        margin-bottom: .6rem;
    }
    &__lien{
        text-decoration: none;
        color: #FFF;
    }
}
.titre-footer{
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.3rem;
    position: relative;
    left: 0rem;
}




